:root {
  --buttonBgColor: #ff3e00;
  --buttonTextColor: white;
}

body {
  padding: 16px;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: "Inter", sans-serif;
}
